:root {
  --black: #010101;
}

body {
  color: #fff;
  letter-spacing: -.01rem;
  font-family: Aeonik, sans-serif;
  font-size: 1rem;
  line-height: 1;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}

h3 {
  letter-spacing: -.015rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.05;
}

p {
  margin-bottom: 0;
}

.section-hero {
  height: 100vh;
  background-color: #010101;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav {
  z-index: 999;
  border-bottom: .5px solid rgba(255, 255, 255, .2);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.container.is-nav {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  background-color: rgba(0, 0, 0, .15);
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5vh;
  padding-bottom: 3.5vh;
  display: grid;
}

.container.is-hero {
  justify-content: space-between;
  display: flex;
  position: relative;
}

.container.relative {
  position: relative;
}

.nav-logo {
  width: 5.0625rem;
  height: 1.265rem;
}

.text-link {
  color: #fff;
  text-decoration: none;
}

.hero__section-content-wrapper {
  max-width: 62rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.pre-tilt {
  color: rgba(255, 255, 255, .9);
  letter-spacing: -.015rem;
  font-weight: 500;
  line-height: 1.05;
}

.h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1;
}

.h1-span-wrapper {
  grid-column-gap: 1.75rem;
  grid-row-gap: 1.75rem;
  align-items: flex-end;
  display: flex;
}

.button {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 1rem;
  align-items: center;
  padding: 1.9rem 3.75rem;
  font-weight: 400;
  text-decoration: none;
  transition: transform 1s cubic-bezier(.23, 1, .32, 1), background-color 1s cubic-bezier(.23, 1, .32, 1);
}

.button:hover {
  background-color: #3b58c3;
  transform: translate(0, -1rem);
}

.button._2nd {
  background-color: rgba(255, 255, 255, 0);
  border: .03125rem solid rgba(255, 255, 255, .6);
}

.text-size-regular {
  margin-bottom: 0;
  line-height: 1.5;
}

.text-size-regular.text-color-muted {
  color: rgba(255, 255, 255, .6);
  line-height: 1;
}

.text-size-regular.bottom-padding {
  margin-bottom: .5rem;
}

.hero_content-wrapper {
  max-width: 39rem;
  margin-top: 2.5rem;
}

.hero_content-wrapper.project {
  max-width: 60rem;
  margin-top: 0;
}

.blurry {
  width: 50%;
  aspect-ratio: 1 / 1;
  filter: blur(13.5rem);
  background-color: #0030db;
  border-radius: 100%;
  position: absolute;
  top: -8%;
  bottom: auto;
  left: auto;
  right: -5%;
}

.blurry.mseller {
  background-color: #28c49b;
}

.blurry.anvui {
  background-color: #37abff;
}

.blurry.mentor {
  background-color: #ef2bf3;
}

.blurry.wallet {
  background-color: #8000ce;
}

.blurry2 {
  width: 35%;
  aspect-ratio: 1 / 1;
  filter: blur(17rem);
  background-color: #0030db;
  border-radius: 100%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.blurry2.mseller {
  background-color: #28c49b;
}

.blurry2.anvui {
  background-color: #37abff;
}

.blurry2._8000ce {
  background-color: #ef2bf3;
}

.blurry2.wallet {
  background-color: #8000ce;
}

.hero__bottom-bar {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: rgba(255, 255, 255, .6);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.line {
  width: 100%;
  height: .0625rem;
  background-color: rgba(255, 255, 255, .6);
}

.secion-video {
  background-color: #010101;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.padding-vertical-default {
  padding-top: 18vh;
  padding-bottom: 18vh;
}

.padding-vertical-default.padding-large {
  width: 100%;
  padding-top: 12rem;
  padding-bottom: 12rem;
  overflow: hidden;
}

.padding-vertical-default.is-footer {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.section-default {
  background-color: #010101;
  flex-direction: column;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.section-default.overflow {
  overflow: visible;
}

.title-label-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding-bottom: 0;
  display: flex;
}

.h2 {
  letter-spacing: -.015rem;
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 1.15;
}

.h2.larger {
  font-size: 5rem;
}

.feature-project__grid-component {
  grid-column-gap: 1.25rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project-card {
  cursor: pointer;
}

.project-img-wrapper {
  width: 100%;
  aspect-ratio: 638 / 439;
  object-fit: cover;
  border-radius: 1.5rem;
  margin-bottom: 1.25rem;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.absolutely-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.role-wrapper {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 1.25rem;
  display: flex;
}

.role-wrapper.no-gap {
  grid-row-gap: 0rem;
  margin-bottom: 0;
}

.role-tag {
  color: rgba(255, 255, 255, .8);
  letter-spacing: 0;
  border: .03125rem solid rgba(255, 255, 255, .6);
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.05;
}

.project-card__content-wrapper {
  grid-row-gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.project-title {
  letter-spacing: 0;
  text-transform: capitalize;
  font-size: 1.75rem;
  line-height: 1.2;
}

.project__max-w-content {
  max-width: 30.3125rem;
  color: rgba(255, 255, 255, .8);
}

.decorative-text-line {
  grid-column-gap: 1rem;
  flex-flow: row;
  display: flex;
}

.decorative-text-line.reverse {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: .03125rem;
  -webkit-text-stroke-color: #fff;
  margin-top: 0;
}

.decorative-text {
  white-space: nowrap;
  font-size: 9rem;
  font-weight: 500;
}

.service-component-wrapper {
  width: 100%;
  grid-row-gap: 6.5rem;
  flex-direction: column;
  display: flex;
  position: relative;
}

.service-bar {
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  flex-direction: row;
  padding-bottom: 6.5rem;
  display: flex;
  position: relative;
}

.service-no {
  margin-right: 6rem;
  font-size: 1.25rem;
}

.service-name-wrapper {
  z-index: 9;
  grid-column-gap: 1.75rem;
  grid-row-gap: 1.75rem;
  flex-direction: column;
  display: flex;
  position: relative;
}

.service-name-title {
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}

.service-key-wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  color: rgba(255, 255, 255, .8);
  flex-direction: row;
  align-items: center;
  display: flex;
}

.dot {
  width: .3125rem;
  height: .3125rem;
  background-color: #fff;
  border-radius: 100%;
}

.btn__text-wrapper {
  position: relative;
  overflow: hidden;
}

.btn__inner-wrapper {
  grid-column-gap: .625rem;
  align-items: center;
  position: relative;
  overflow: visible;
}

.button-text {
  text-align: center;
  line-height: 1.25;
}

.button-text.absolute {
  position: absolute;
  top: auto;
  bottom: -100%;
  left: 0%;
  right: 0%;
}

.project__title-inner-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  position: relative;
}

.service-img-wrapper {
  width: 25%;
  aspect-ratio: 3 / 2.3;
  object-fit: cover;
  border-radius: 1.5rem;
  display: block;
  position: absolute;
  top: -44%;
  bottom: 0%;
  left: auto;
  right: 0%;
  overflow: hidden;
}

.question-wrapper {
  max-width: 44.5rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.div-block-4 {
  max-width: 30.3125rem;
  color: rgba(255, 255, 255, .8);
  margin-top: 2rem;
}

.btn-wrapper {
  grid-column-gap: 1.25rem;
  align-items: center;
  margin-top: 2.5rem;
  display: flex;
}

.section-footer {
  background-color: #010101;
  border-top: .0625rem solid rgba(255, 255, 255, .6);
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.footer__grid-column {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer__grid-left-column {
  grid-row-gap: .5rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-size-medium {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-size-medium.text-weight-medium {
  font-weight: 500;
}

.social-wrapper {
  grid-column-gap: 1.5rem;
  color: #fff;
  display: flex;
}

.link {
  color: #fff;
}

.show-on-desktop {
  display: block;
}

.project__hero-wrapper {
  grid-column-gap: 3.625rem;
  grid-row-gap: 3.625rem;
  flex-direction: column;
  display: flex;
}

.project__detail-wrapper {
  grid-column-gap: 10rem;
  align-items: flex-start;
  margin-bottom: 5rem;
  display: flex;
}

.project-detail__left-column {
  max-width: 37.25rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.project-detail__right-column {
  grid-column-gap: 5rem;
  grid-row-gap: 1.75rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.detail-wrapper {
  grid-row-gap: .75rem;
  flex-direction: column;
  display: flex;
}

.paragraph-2 {
  color: rgba(255, 255, 255, .6);
  letter-spacing: -.01rem;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 1.5;
}

.full-width-btn-wrapper {
  grid-column-gap: 1.25rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  display: grid;
}

.project__cover-image {
  width: 100%;
  aspect-ratio: 1296 / 650;
  object-fit: cover;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
}

.project__cover-image.bottom {
  aspect-ratio: 1296 / 758;
}

.service-wrapper {
  grid-row-gap: .2rem;
  flex-direction: column;
  display: flex;
}

.project__intepretion-grid {
  grid-column-gap: 2.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.intepretion-title-wrapper {
  max-width: 25.75rem;
  grid-row-gap: 3.625rem;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  display: flex;
}

.h4 {
  letter-spacing: -.0515625rem;
  font-size: 4.375rem;
  font-weight: 500;
  line-height: 1.05;
}

.h4.span {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.text-span {
  color: rgba(255, 255, 255, .8);
  font-size: 3.4375rem;
  font-weight: 400;
}

.intepretion_image-wrapper {
  width: 100%;
  aspect-ratio: 628 / 867;
  object-fit: cover;
  position: relative;
}

.intepretion_image-wrapper.custom {
  aspect-ratio: 638 / 463;
}

.div-block-6 {
  grid-row-gap: 2.25rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9rem;
  display: flex;
}

.div-block-7 {
  max-width: 27.875rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-span-2 {
  font-weight: 500;
}

.div-block-8 {
  max-width: 46.3125rem;
  grid-column-gap: 3.625rem;
  grid-row-gap: 3.625rem;
  flex-direction: column;
  margin-bottom: 5rem;
  display: flex;
}

.text-size-normal {
  font-size: 1.125rem;
  line-height: 1.5;
}

._1rem-icon {
  width: 1rem;
  height: 1rem;
}

.svg-icon {
  width: 100%;
  height: 100%;
}

.btn-inner {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  align-items: center;
  display: flex;
}

.btn-inner.absolute {
  position: absolute;
}

.link-underline {
  height: 1px;
  background-color: rgba(255, 255, 255, .6);
  margin-top: .3125rem;
}

.link-component {
  text-decoration: none;
  overflow: hidden;
}

.scroll-down {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  color: rgba(255, 255, 255, .6);
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.video-wrapper {
  border-radius: 1rem;
  padding-top: 56.25%;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
}

.video {
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.overlay {
  z-index: 99999;
  height: 0%;
  background-color: #010101;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.overlay__logo-wrapper {
  width: 7.00313rem;
  height: 1.75rem;
  justify-content: center;
  display: flex;
}

.video-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #010101;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
}

.nav__menu-wrapper {
  grid-column-gap: 2rem;
  align-items: center;
  display: flex;
}

.link-wrapper {
  flex-direction: column;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.link-wrapper.show-mobile {
  display: none;
}

.div-block-9 {
  grid-column-gap: .375rem;
  align-items: center;
  display: flex;
}

.project__img-overlay {
  width: 100%;
  height: 100%;
  background-color: #010101;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .container.is-nav {
    grid-template-columns: 1fr 1fr;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }

  .h1 {
    font-size: 5.5rem;
  }

  .h1-span-wrapper {
    width: 100%;
  }

  .hero_content-wrapper {
    margin-top: 2.5rem;
  }

  .blurry {
    top: 16%;
  }

  .blurry2 {
    bottom: 10%;
  }

  .padding-vertical-default {
    padding-top: 7.5vh;
    padding-bottom: 7.5rem;
  }

  .padding-vertical-default.padding-large {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .h2.larger {
    font-size: 4rem;
  }

  .feature-project__grid-component {
    grid-template-columns: 1fr;
  }

  .absolutely-fit {
    object-fit: cover;
  }

  .decorative-text {
    font-size: 4rem;
  }

  .service-component-wrapper {
    grid-row-gap: 3rem;
  }

  .service-bar {
    padding-bottom: 3rem;
  }

  .service-no {
    margin-right: 3rem;
  }

  .service-name-title {
    font-size: 3rem;
  }

  .service-img-wrapper {
    display: none;
  }

  .question-wrapper {
    max-width: 75%;
  }

  .footer__grid-column {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .show-on-desktop {
    display: none;
  }

  .project__hero-wrapper {
    grid-row-gap: 3rem;
  }

  .project__detail-wrapper {
    grid-row-gap: 3.5rem;
    flex-direction: column;
  }

  .project__cover-image, .project__cover-image.bottom {
    aspect-ratio: 1296 / 950;
  }

  .project__intepretion-grid {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .intepretion-title-wrapper {
    max-width: 50rem;
    margin-bottom: 3rem;
  }

  .div-block-6 {
    margin-bottom: 6rem;
  }

  .div-block-6.is-last {
    margin-bottom: 0;
  }

  .div-block-8 {
    grid-row-gap: 2.5rem;
    margin-bottom: 3rem;
  }

  .nav__menu-wrapper {
    grid-column-gap: 5rem;
    -webkit-backdrop-filter: blur(.5rem);
    backdrop-filter: blur(.5rem);
    background-color: rgba(255, 255, 255, .05);
    padding: 2rem 5vw;
    display: flex;
  }

  .link-wrapper {
    align-items: center;
  }

  .link-wrapper.hide-mobile {
    display: none;
  }

  .link-wrapper.is-nav {
    padding-bottom: 1rem;
  }

  .link-wrapper.show-mobile {
    display: block;
  }

  .menu-button {
    padding: 0;
  }

  .menu-button.w--open {
    background-color: rgba(255, 255, 255, 0);
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .h1 {
    font-size: 4.2rem;
  }

  .h1-span-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero_content-wrapper {
    margin-top: 1rem;
  }

  .padding-vertical-default {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }

  .h2 {
    font-size: 3.8rem;
  }

  .role-wrapper.no-gap {
    grid-row-gap: .75rem;
  }

  .button-text.absolute {
    top: auto;
    bottom: -100%;
    left: 0%;
    right: 0%;
  }

  .question-wrapper {
    max-width: 90%;
  }

  .div-block-4 {
    margin-top: 1rem;
  }

  .btn-wrapper {
    width: 100%;
    grid-row-gap: 1.25rem;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1.5rem;
  }

  .project__hero-wrapper {
    grid-row-gap: 2.5rem;
  }

  .full-width-btn-wrapper {
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .project__cover-image {
    aspect-ratio: 1296 / 1200;
  }
}

@media screen and (max-width: 479px) {
  .section-hero {
    height: auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
  }

  .container.is-hero {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .nav-logo {
    width: 4.5rem;
  }

  .h1 {
    font-size: 55px;
    line-height: 1.2;
  }

  .h1-span-wrapper {
    align-items: stretch;
  }

  .blurry {
    width: 90%;
    top: 9%;
    right: -24%;
  }

  .blurry2 {
    width: 60%;
    bottom: 20%;
  }

  .padding-vertical-default {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .title-label-wrapper {
    margin-bottom: 2rem;
  }

  .h2 {
    font-size: 3rem;
    line-height: 1.2;
  }

  .h2.larger {
    font-size: 3rem;
  }

  .role-wrapper.no-gap {
    grid-row-gap: .75rem;
  }

  .role-tag {
    padding: .8rem 1.2rem;
  }

  .project-card__content-wrapper {
    grid-row-gap: 1rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .decorative-text {
    font-size: 2.5rem;
  }

  .service-component-wrapper {
    grid-row-gap: 2rem;
  }

  .service-bar {
    padding-bottom: 2rem;
  }

  .service-no {
    margin-right: 1rem;
    font-size: .875rem;
  }

  .service-name-wrapper {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
  }

  .service-name-title {
    font-size: 1.625rem;
    line-height: 1.3;
  }

  .service-key-wrapper {
    grid-column-gap: .5rem;
    grid-row-gap: .875rem;
    flex-flow: wrap;
    flex: none;
    align-items: flex-start;
  }

  .dot {
    display: none;
  }

  .btn__text-wrapper {
    justify-content: center;
    display: flex;
  }

  .button-text {
    text-align: center;
  }

  .social-wrapper {
    grid-row-gap: 1rem;
    flex-direction: column;
  }

  .project__hero-wrapper {
    grid-row-gap: 1.5rem;
  }

  .project-detail__left-column {
    grid-row-gap: 1rem;
  }

  .project-detail__right-column {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .full-width-btn-wrapper {
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .project__cover-image {
    aspect-ratio: 1296 / 1200;
  }

  .h4 {
    font-size: 3rem;
  }

  .text-span {
    font-size: 2rem;
  }

  .div-block-6 {
    margin-bottom: 8vh;
  }

  .servce-text {
    flex: none;
  }
}

#w-node-c22fe72c-7ab7-69dd-dc7b-099b4840fe6d-7b7386b6, #w-node-ec985d71-77bd-cf12-e0aa-ecf5d3e234d3-7b7386b6, #w-node-_99f6fb8e-839a-2dbe-9493-144ce7160d11-7b7386b6, #w-node-_87eee59f-a73f-a670-5d1b-cd8d3d249983-7b7386b6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32ee625d-d73b-bdb9-a2e0-dc2f413896a3-7b7386b6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-7b7386b6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_12a1139b-fb71-4481-9364-03b152bd857f-7b7386b6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_980d8d0a-0ad1-b743-3226-fe46cc3c3678-9160510e {
  justify-self: start;
}

#w-node-_74650b6b-08ae-9e15-ba90-efc791605118-9160510e {
  align-self: center;
  justify-self: center;
}

#w-node-b0541862-02c0-e620-b174-7978d7f3f2fc-9160510e {
  align-self: center;
  justify-self: end;
}

#w-node-_36fc2b27-8787-6cff-eef2-4cd1e7bddda6-16552812, #w-node-_85257a2b-d616-ee8f-7e49-f680cc86b7b9-16552812, #w-node-d1f89814-ce37-110a-d75d-0ececd46a1e9-16552812, #w-node-_5d4da394-ffba-0263-aee5-f7bb86ec235f-16552812, #w-node-_42cd0fa1-507c-d84c-77b3-4d06c4a84813-16552812, #w-node-_4c62c20b-f767-6029-a54b-cabe69b00130-16552812, #w-node-_359ebed0-0794-0c7f-6d2d-d2e70f3f677e-16552812, #w-node-c6eeebc3-bd79-ca4a-5f00-da2c091eadb8-16552812 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32ee625d-d73b-bdb9-a2e0-dc2f413896a3-16552812 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-16552812 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_12a1139b-fb71-4481-9364-03b152bd857f-16552812 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_36fc2b27-8787-6cff-eef2-4cd1e7bddda6-55cf6ed1, #w-node-_85257a2b-d616-ee8f-7e49-f680cc86b7b9-55cf6ed1, #w-node-d1f89814-ce37-110a-d75d-0ececd46a1e9-55cf6ed1, #w-node-_5d4da394-ffba-0263-aee5-f7bb86ec235f-55cf6ed1, #w-node-_42cd0fa1-507c-d84c-77b3-4d06c4a84813-55cf6ed1, #w-node-_4c62c20b-f767-6029-a54b-cabe69b00130-55cf6ed1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32ee625d-d73b-bdb9-a2e0-dc2f413896a3-55cf6ed1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-55cf6ed1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_12a1139b-fb71-4481-9364-03b152bd857f-55cf6ed1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_36fc2b27-8787-6cff-eef2-4cd1e7bddda6-acc512ef, #w-node-_85257a2b-d616-ee8f-7e49-f680cc86b7b9-acc512ef, #w-node-d1f89814-ce37-110a-d75d-0ececd46a1e9-acc512ef, #w-node-_5d4da394-ffba-0263-aee5-f7bb86ec235f-acc512ef, #w-node-_42cd0fa1-507c-d84c-77b3-4d06c4a84813-acc512ef, #w-node-_4c62c20b-f767-6029-a54b-cabe69b00130-acc512ef {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32ee625d-d73b-bdb9-a2e0-dc2f413896a3-acc512ef {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-acc512ef {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_12a1139b-fb71-4481-9364-03b152bd857f-acc512ef {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#w-node-_36fc2b27-8787-6cff-eef2-4cd1e7bddda6-e81ee4bb, #w-node-_85257a2b-d616-ee8f-7e49-f680cc86b7b9-e81ee4bb, #w-node-d1f89814-ce37-110a-d75d-0ececd46a1e9-e81ee4bb, #w-node-_5d4da394-ffba-0263-aee5-f7bb86ec235f-e81ee4bb, #w-node-_42cd0fa1-507c-d84c-77b3-4d06c4a84813-e81ee4bb, #w-node-_4c62c20b-f767-6029-a54b-cabe69b00130-e81ee4bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_32ee625d-d73b-bdb9-a2e0-dc2f413896a3-e81ee4bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: start;
}

#w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-e81ee4bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: center;
}

#w-node-_12a1139b-fb71-4481-9364-03b152bd857f-e81ee4bb {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-7b7386b6, #w-node-_12a1139b-fb71-4481-9364-03b152bd857f-7b7386b6, #w-node-_74650b6b-08ae-9e15-ba90-efc791605118-9160510e {
    justify-self: start;
  }

  #w-node-_567b7ef7-8d56-7e6a-a2c6-ee21dda229bf-9160510e {
    justify-self: end;
  }

  #w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-16552812, #w-node-_12a1139b-fb71-4481-9364-03b152bd857f-16552812, #w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-55cf6ed1, #w-node-_12a1139b-fb71-4481-9364-03b152bd857f-55cf6ed1, #w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-acc512ef, #w-node-_12a1139b-fb71-4481-9364-03b152bd857f-acc512ef, #w-node-_5583a36d-997d-23e3-e3bb-c87895e74a59-e81ee4bb, #w-node-_12a1139b-fb71-4481-9364-03b152bd857f-e81ee4bb {
    justify-self: start;
  }
}


@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}